

<br>
<br>
<br>
<br>
    <div class="pagetitle">
      <h1>Detalle Empleado</h1>
    
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
              
          
            <div>
              <div>
                <label><b>ID : </b> {{ empleado.id }}</label>
              </div>
              <div>
                <label><b>Nombre : </b> {{ empleado.nombre }}</label>
              </div>
              <div>
                <label><b>Apellido : </b> {{ empleado.apellido }}</label>
              </div>
              <div>
                <label><b>Email : </b> {{ empleado.email }}</label>
              </div>
            </div>

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

              

            
              </div>
            </div><!-- End Recent Sales -->
           
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

         


        </div><!-- End Right side columns -->

      </div>
    </section>

 
